<!DOCTYPE html>
<html>
<head>
    <title>Criar Cliente</title>
</head>
<body>
    <h1>Criar Cliente</h1>
    <section>
        <form action="{% url 'clients' %}" method="post">
            {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                <div>
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Salvar</button>
        </form>
    </section>
</body>
</html>
