{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Criar Cliente</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body>
    <h1 class="header">Criar Cliente</h1>
    <section class="general-form">
        <form action="{% url 'clients' %}" method="post">
            {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                <div class="form-items">
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </section>
</body>
</html>