/* estilizações do botão para escolher a conta */

.section-count-button{
    display: flex;
    align-items: center;
}

.section-count-button p{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--account-selection);
    color: var(--menu-color);
    background-color: var(--selected-background);
    border: 0.063rem solid var(--menu-color);
    border-radius: 0.25rem;
    padding: 0.563rem 0.563rem 0.563rem 0.563rem;
}

.section-count-button img{
    width: var(--arrow-size-icons);
    height: var(--arrow-size-icons);
    padding-left: 2rem;
}


/* estilizações da parte que mostra os saldos */

.balance-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balance-block div{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
    margin-right: 2rem;
}

.balance-block li{
    align-items: flex-end;
}

.balance-block li{
    display: flex;
    flex-direction: row;
}

.balance-block-text-balance{
    font-family: var(--font-istok);
    font-size: var(--balances-title);
    padding-bottom: 1rem;
    color: var(--blue)
}

.balance-block-text-revenue{
    font-family: var(--font-istok);
    font-size: var(--balances-title);
    padding-bottom: 1rem;
    color: var(--green)
}

.balance-block-text-expense{
    font-family: var(--font-istok);
    font-size: var(--balances-title);
    padding-bottom: 1rem;
    color: var(--red)
}

.balance-block-text-projected{
    font-family: var(--font-istok);
    font-size: var(--balances-title);
    padding-bottom: 1rem;
    color: var(--menu-color)
}

.balance-block-number{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--value);
    padding-bottom: 1rem;
    margin-left: 0.5rem;
}

.balance-block-real{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--real);
    padding-bottom: 1rem;
}

/* estilizações dos botões de adicionar receitas, despesas e transferências */

.plus-buttons{
    display: flex;
    flex-direction: column;
    padding-left: 2.188rem;
    padding-right: 2rem;
    flex: 1;
} 

.plus-buttons a{
    text-decoration: none;
    padding: 0.5rem;
    font-family: var(--font-jaldi);
    font-size: var(--text-buttons-plus);
    text-align: center;
    border-radius: 0.25rem;
    margin-bottom: 0.375rem;
}

.plus-buttons-revenue{
    background-color: var(--transparent-green-10);
    color: var(--green);
    border: 0.063rem solid var(--green);
}

.plus-buttons-revenue:hover{
    background-color: var(--transparent-green-30);
}

.plus-buttons-expense{
    background-color: var(--transparent-red-10);
    color: var(--red);
    border: 0.063rem solid var(--red);
}

.plus-buttons-expense:hover{
    background-color: var(--transparent-red-30);
}

.plus-buttons-transfer{
    background-color: var(--transparent-blue-10);
    color: var(--blue);
    border: 0.063rem solid var(--blue);
}

.plus-buttons-transfer:hover{
    background-color: var(--transparent-blue-30);
}

/* estilizações da parte de contas financeiras */

.title-financial-accounts{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--title-menu);
    margin: 2.563rem 0rem 1.5rem 0rem;
    padding: 0.5rem;
    background-color: var(--background-not-selected);
}

.accounts-general{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 0.1rem solid var(--selected-background);
}

.accounts-general:hover{
    background-color: var(--background-not-selected);
}

.accounts-general img{
    padding-right: 1rem;
    width: var(--icons-accounts);
    height: var(--icons-accounts);
    border-radius: 4rem;
}

.accounts-title{
    font-family: var(--font-istok);
    color: var(--black);
    font-size: var(--balances-title);
    margin-bottom: 0.4rem;
}

.accounts-description{
    font-family: var(--font-jaldi);
    color: var(--menu-color);
    font-size: var(--balances-title);
}