/* estilizações do cabeçalho */

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-color)
}

header h1{
    font-size: var(--brand-name);
    font-family: var(--font-mallanna);
}

header h2{
    font-size: var(--hello-and-menu-name);
    font-family: var(--font-jaldi);
    text-shadow: 0.125rem 0.125rem 0.625rem var(--header-color);
    margin-right: 1.188rem;
}

header img{
    width: var(--icons-header);
    height: var(--icons-header);
    margin-right: 1.438rem;
    transition: 0.3s;
    background-color: transparent;
    border-radius: 5rem;
}

header img:hover{
    box-shadow: 0rem 0rem 2rem var(--menu-color);
    background-color: var(--selected-background);
}
