/* Título que fica fixo na página com o botão de fechar */

.fixed-title{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--title-menu);
    background-color: var(--background2);
    padding: 0.688rem;
    border-top: 0.1rem solid var(--black);
    box-shadow: 0.0rem 0.25rem 0.25rem var(--menu-color);
    margin-bottom: 1.313rem;
}

.fixed-title button{
    cursor: pointer;
}

.fixed-title button:hover{
    width: 1.825rem;
    right: 1.825rem;
}

.fixed-title img{
    width: var(--icons-header);
    right: var(--icons-header);
    margin-right: 0.375rem;
}

/* Título que fica no formulário informanndo sobre o que se trata o formulário */

.information-title{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--title-menu);
    margin: 1.125rem;
    padding: 1.188rem 0rem 1.188rem 0rem;
    border-bottom: 0.1rem solid var(--black);
}

/* Corpo do formulário */

.form-general{
    margin: 1.125rem;
    padding: 0rem 0rem 1.188rem 0rem;
}

.form-general label{
    font-family: var(--font-fira-sans-condensed);
    font-size: var(--balances-title);
    padding: 0.625rem 0rem 0.625rem 0rem;
}

.form-general input, select{
    font-size: var(--balances-title);
    padding: 0.625rem 0rem 0.625rem 0.563rem;
    background-color: var(--selected-background);
    border-radius: 0.25rem;
    border-color: var(--menu-color);
    border-width: 0.05rem;
}

.form-body{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    
}

.form-body div{
    display: flex;
    flex-direction: column;
}

.form-body .div-1{
    width: 70%;
    padding-right: 3.125rem;
    
}

.form-body .div-2{
    width: 30%;
}

.form-body .div-3{
    width: 50%;
    padding-right: 3.125rem;
}

.form-body .div-4{
    width: 20%;
    padding-right: 3.125rem;
}

.form-body .div-5{
    width: 31.5%;
}

.form-body .div-6{
    width: 100%;
}

.form-body .div-6 input{
    padding-bottom: 5rem;
}

/* Botão de salvar as informações */

.save-button{
    float: right;
    font-family: var(--font-jaldi);
    font-size: var(--real);
    color: var(--green);
    border: 0.063rem solid var(--green);
    border-radius: 0.25rem;
    padding: 0.875rem 5.5rem 0.875rem 5.5rem;
    margin-bottom: 2rem;
    box-shadow: 0.0rem 0.25rem 0.25rem var(--menu-color);
    cursor: pointer;
}

.save-button:hover{
    background-color: var(--selected-background);
}
