<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../Styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Jaldi&family=Mallanna&display=swap" rel="stylesheet">
    <title>FinApprise</title>
</head>
<body>
    <header>
        <div>
            <h1>FinApprise</h1>
        </div>
        <div>
            <h2>Olá, Thaynara Martins</h2>
            <img src="../Images/Header/User.png" alt="Imagem de Perfil">
            <img src="../Images/Header/Settings.png" alt="Imagem de uma Engrenagem">
        </div>
    </header>
    <main>
        <section>
            <div class="main-div-menu1">
                <img src="../Images/Main/Menu.png" alt="Imagem de menu com três listras">
                <h1>MENU</h1>
            </div>
            <div>
                <ul>
                    <li><h2>Visão Geral</h2></li>
                    <li><h2>Financeiro</h2></li>
                    <li><h2>Estoque</h2></li>
                    <li><h2>Clientes e Fornecedores</h2></li>
                    <li><h2>Relatórios</h2></li>
                </ul>
            </div>
        </section>
        <section>
            <p>Outro lado</p>
        </section>
    </main>
</body>
</html>