/* estilizações em comum do index e variáveis*/

body{
    background: linear-gradient(to bottom, var(--background1), var(--background2));
    background-attachment: fixed;
}

main{
    display: flex;
    padding-top: 2rem;
    margin-left: 0.313rem;
}

.section-menu{
    min-width: auto;
}

.section-finance{
    min-width: 80%;
    margin-left: 2.5rem;
}

.financial-information{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-and-balances{
    min-width: 86.5%;
}